In [2]:
# install the package
!pip install TableauScraper

Requirement already satisfied: TableauScraper in /opt/homebrew/lib/python3.11/site-packages (0.1.29)
Requirement already satisfied: beautifulsoup4>=4.0.0 in /opt/homebrew/lib/python3.11/site-packages (from TableauScraper) (4.12.2)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (from TableauScraper) (2.1.0)
Requirement already satisfied: requests>=2.14.0 in /opt/homebrew/lib/python3.11/site-packages (from TableauScraper) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/lib/python3.11/site-packages (from beautifulsoup4>=4.0.0->TableauScraper) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from requests>=2.14.0->TableauScraper) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from requests>=2.14.0->TableauScraper) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.11/site-packages (from requests>=2.14.0->TableauScraper) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from requests>=2.14.0->TableauScraper) (2023.7.22)
Requirement already satisfied: numpy>=1.23.2 in /opt/homebrew/lib/python3.11/site-packages (from pandas->TableauScraper) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/John.L.Kelly/Library/Python/3.11/lib/python/site-packages (from pandas->TableauScraper) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas->TableauScraper) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas->TableauScraper) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->TableauScraper) (1.16.0)

In [3]:
from datetime import datetime, timedelta
from tableauscraper import TableauScraper as TS
import pandas as pd

url = "https://public.tableau.com/views/CrimeNumbersDashboardMobile/Crime_Numbers_Mobile"
ts = TS()
ts.loads(url)

workbook = ts.getWorkbook()

# show original data for worksheet
ws = ts.getWorksheet("YTD/PYD Crime Chart")

# get filters columns and values
filters = ws.getFilters()
print(filters)

# create an array of the values for filters.District
district_values = ['Bayview', 'Central', 'Ingleside', 'Mission', 'Northern', 'Park', 'Richmond', 'Southern', 'Taraval', 'Tenderloin']

# create an empty dataframe to store the results
results_df = pd.DataFrame()

# loop through each district value and append the results to the dataframe
for district in district_values:
    # set filter value
    wb = ws.setFilter('District', district)

    # show the new data for worksheet
    countyWs = wb.getWorksheet("YTD/PYD Crime Chart")
    
    # transform to dataframe
    df = pd.DataFrame(countyWs.data)
    
    # add a new column to the dataframe with the district name
    df['District'] = district
    
    # concatenate the dataframe to the results dataframe
    results_df = pd.concat([results_df, df])

# create a new dataframe with the same data as results_df
district_ytd = pd.DataFrame(results_df)

# select columns 0,2,4 and name them category, period, and number
district_ytd = district_ytd.iloc[:, [0,2,4,8,7]]
district_ytd.columns = ['category', 'time_period', 'count', 'district', 'asofdate']

# set a variable called asofdate and make it equal to the asofdate column in row 1 of this dataframe
asofdate = district_ytd.iloc[1,4]
print(asofdate)

# print the first 25 rows of district_ytd
district_ytd.head(25)

[{'column': 'District', 'ordinal': 0, 'values': ['Bayview', 'Central', 'Ingleside', 'Mission', 'Northern', 'Park', 'Richmond', 'Southern', 'Taraval', 'Tenderloin', 'Out of SF'], 'globalFieldName': '[federated.0mohjdp0d6xyjp13bls0f13bhbpy].[none:DISTRICT:nk]', 'selection': ['Bayview', 'Central', 'Ingleside', 'Mission', 'Northern', 'Park', 'Richmond', 'Southern', 'Taraval', 'Tenderloin', 'Out of SF', 'all'], 'selectionAlt': [{'fn': '[federated.0mohjdp0d6xyjp13bls0f13bhbpy].[none:DISTRICT:nk]', 'columnFullNames': ['[District]'], 'domainTables': [{'isSelected': True, 'label': 'Bayview'}]}]}, {'column': 'Type Of Crime', 'ordinal': 0, 'values': ['PART 1 PROPERTY CRIMES', 'PART 1 VIOLENT CRIMES'], 'globalFieldName': '[federated.0mohjdp0d6xyjp13bls0f13bhbpy].[none:TYPE OF CRIME:nk]', 'selection': ['PART 1 PROPERTY CRIMES', 'PART 1 VIOLENT CRIMES', 'all'], 'selectionAlt': [{'fn': '[federated.0mohjdp0d6xyjp13bls0f13bhbpy].[none:TYPE OF CRIME:nk]', 'columnFullNames': ['[Type Of Crime]'], 'domainTables': [{'isSelected': True, 'label': 'PART 1 PROPERTY CRIMES'}]}]}]
10/1/2023

                       category     time_period count district   asofdate
0                 LARCENY THEFT  Current Period  1172  Bayview  10/1/2023
1                         ARSON  Current Period    28  Bayview  10/1/2023
2           MOTOR VEHICLE THEFT  Current Period   896  Bayview  10/1/2023
3                      BURGLARY  Current Period   307  Bayview  10/1/2023
4                       ASSAULT  Current Period   226  Bayview  10/1/2023
5                       ROBBERY  Current Period   218  Bayview  10/1/2023
6                          RAPE  Current Period     9  Bayview  10/1/2023
7                      HOMICIDE  Current Period     9  Bayview  10/1/2023
8                 LARCENY THEFT    Prior Period  1215  Bayview  10/1/2023
9                         ARSON    Prior Period    31  Bayview  10/1/2023
10          MOTOR VEHICLE THEFT    Prior Period   766  Bayview  10/1/2023
11                     BURGLARY    Prior Period   427  Bayview  10/1/2023
12  HUMAN TRAFFICKING – SEX ACT    Prior Period     1  Bayview  10/1/2023
13                      ASSAULT    Prior Period   297  Bayview  10/1/2023
14                      ROBBERY    Prior Period   163  Bayview  10/1/2023
15                         RAPE    Prior Period    24  Bayview  10/1/2023
16                     HOMICIDE    Prior Period    11  Bayview  10/1/2023
0                 LARCENY THEFT  Current Period  6075  Central  10/1/2023
1                         ARSON  Current Period    27  Central  10/1/2023
2           MOTOR VEHICLE THEFT  Current Period   363  Central  10/1/2023
3                      BURGLARY  Current Period   551  Central  10/1/2023
4                       ASSAULT  Current Period   161  Central  10/1/2023
5                       ROBBERY  Current Period   259  Central  10/1/2023
6                          RAPE  Current Period    13  Central  10/1/2023
7                      HOMICIDE  Current Period     2  Central  10/1/2023

In [4]:
# GATHER CITYWIDE for this current ytd
# Safety: reload th workbook each time you want to scrape a new workbook or worksheet
ts = TS()
ts.loads(url)
workbook = ts.getWorkbook()

# display and capture data from the worksheets
for t in workbook.worksheets:
    citywide_ytd = pd.DataFrame(t.data)

# select columns 0,2,4 and name them category, period, and number
citywide_ytd = citywide_ytd.iloc[:, [0,2,4]]
citywide_ytd.columns = ['category', 'time_period', 'count']

# all a column called district and set the value to citywide
citywide_ytd['district'] = 'Citywide'

citywide_ytd.head(50)

                        category     time_period  count  district
0                          %all%    Prior Period  40126  Citywide
1                  LARCENY THEFT    Prior Period  26542  Citywide
2                          ARSON    Prior Period    229  Citywide
3            MOTOR VEHICLE THEFT    Prior Period   4690  Citywide
4                       BURGLARY    Prior Period   4584  Citywide
5   HUMAN TRAFFICKING – INV SERV    Prior Period      1  Citywide
6    HUMAN TRAFFICKING – SEX ACT    Prior Period     14  Citywide
7                        ASSAULT    Prior Period   2014  Citywide
8                        ROBBERY    Prior Period   1810  Citywide
9                           RAPE    Prior Period    202  Citywide
10                      HOMICIDE    Prior Period     40  Citywide
11                         %all%  Current Period  38296  Citywide
12                 LARCENY THEFT  Current Period  24455  Citywide
13                         ARSON  Current Period    209  Citywide
14           MOTOR VEHICLE THEFT  Current Period   5166  Citywide
15                      BURGLARY  Current Period   4296  Citywide
16   HUMAN TRAFFICKING – SEX ACT  Current Period     14  Citywide
17                       ASSAULT  Current Period   1853  Citywide
18                       ROBBERY  Current Period   2092  Citywide
19                          RAPE  Current Period    171  Citywide
20                      HOMICIDE  Current Period     40  Citywide

In [5]:
# Now we're going to enter a filter that will change the date range for the data
# We want to gather the balance of the last 12 months of data using asofdate as a reference point
# We'll use the asofdate variable we created earlier and subtract 1 year from it
# We'll then use that value to set the start date for the filter
# We'll set the end date for the filter to 12/31/2022

# Safety: reload th workbook each time you want to scrape a new workbook or worksheet
ts = TS()
ts.loads(url)

workbook = ts.getWorkbook()

# convert the string to a datetime object and subtract to capture 365th day (not 365 days!)
start_date = datetime.strptime(asofdate, '%m/%d/%Y') - timedelta(days=364)
# convert the new date object back to a string
start_date = start_date.strftime('%m/%d/%Y')
# print(start_date)

# set parameters column / value
workbook = workbook.setParameter("End Date", "12/31/2022").setParameter("Start Date (1/1/2017 onward)", start_date)

# show original data for worksheet
ws = ts.getWorksheet("YTD/PYD Crime Chart")

# get filters columns and values
filters = ws.getFilters()
# print(filters)

# create an array of the values for filters.District
district_values = ['Bayview', 'Central', 'Ingleside', 'Mission', 'Northern', 'Park', 'Richmond', 'Southern', 'Taraval', 'Tenderloin']

# create an empty dataframe to store the results
results_df = pd.DataFrame()

# loop through each district value and append the results to the dataframe
for district in district_values:
    # set filter value
    wb = ws.setFilter('District', district)

    # show the new data for worksheet
    countyWs = wb.getWorksheet("YTD/PYD Crime Chart")
    
    # transform to dataframe
    df = pd.DataFrame(countyWs.data)
    
    # add a new column to the dataframe with the district name
    df['District'] = district
    
    # concatenate the dataframe to the results dataframe
    results_df = pd.concat([results_df, df])

# create a new dataframe with the same data as results_df
district_prior = pd.DataFrame(results_df)

# select columns 0,2,4,7 and name them category, period, number and district
district_prior = district_prior.iloc[:, [0,2,4,8]]
district_prior.columns = ['category', 'time_period', 'count', 'district']

# remove rows that have a time period value of Prior Period
district_prior = district_prior[district_prior.time_period != 'Prior Period']

# print the first 25 rows of district_ytd
district_prior.head(25)

              category     time_period count   district
0        LARCENY THEFT  Current Period   465    Bayview
1                ARSON  Current Period     8    Bayview
2  MOTOR VEHICLE THEFT  Current Period   305    Bayview
3             BURGLARY  Current Period   127    Bayview
4              ASSAULT  Current Period    69    Bayview
5              ROBBERY  Current Period    65    Bayview
6                 RAPE  Current Period     4    Bayview
7             HOMICIDE  Current Period     5    Bayview
0        LARCENY THEFT  Current Period  2470    Central
1                ARSON  Current Period     7    Central
2  MOTOR VEHICLE THEFT  Current Period   115    Central
3             BURGLARY  Current Period   214    Central
4              ASSAULT  Current Period    51    Central
5              ROBBERY  Current Period    72    Central
6                 RAPE  Current Period     6    Central
7             HOMICIDE  Current Period     1    Central
0        LARCENY THEFT  Current Period   609  Ingleside
1                ARSON  Current Period     5  Ingleside
2  MOTOR VEHICLE THEFT  Current Period   296  Ingleside
3             BURGLARY  Current Period   140  Ingleside
4              ASSAULT  Current Period    70  Ingleside
5              ROBBERY  Current Period    73  Ingleside
6                 RAPE  Current Period     4  Ingleside
7             HOMICIDE  Current Period     2  Ingleside
0        LARCENY THEFT  Current Period   903    Mission

In [6]:
# Safety: reload the workbook/worksheet each time you're scraping from a new workbook or worksheet
ts = TS()
ts.loads(url)
workbook = ts.getWorkbook()

# set parameters column / value
# here we're again using the start_date variable we created earlier; to capture the balance of 365 days/last 12 months
workbook = workbook.setParameter("End Date", "12/31/2022").setParameter("Start Date (1/1/2017 onward)", start_date)

# display worksheets
for t in workbook.worksheets:
    citywide_prior = pd.DataFrame(t.data)

# select columns 0,2,4 and name them category, period, and number
citywide_prior = citywide_prior.iloc[:, [0,2,4]]
citywide_prior.columns = ['category', 'time_period', 'count']

# all a column called district and set the value to citywide
citywide_prior['district'] = 'Citywide'

# remove rows that have a time period value of Prior Period
citywide_prior = citywide_prior[citywide_prior['time_period'] != 'Prior Period']

citywide_prior.head(25)

                       category     time_period  count  district
10                        %all%  Current Period  14415  Citywide
11                LARCENY THEFT  Current Period  10006  Citywide
12                        ARSON  Current Period     64  Citywide
13          MOTOR VEHICLE THEFT  Current Period   1634  Citywide
14                     BURGLARY  Current Period   1464  Citywide
15  HUMAN TRAFFICKING – SEX ACT  Current Period      4  Citywide
16                      ASSAULT  Current Period    592  Citywide
17                      ROBBERY  Current Period    579  Citywide
18                         RAPE  Current Period     56  Citywide
19                     HOMICIDE  Current Period     16  Citywide

In [15]:
# create a pivot table that groups the data by category and district has the current period and prior period as columns
# and the count as the values; name it sfcrime_ytd
sfcrime_ytd = district_ytd.pivot_table(index=['district', 'category'], columns='time_period', values='count', aggfunc='sum')
# rename the columns of this dataframe to district, category, ytd, and prior
sfcrime_ytd.columns = ['ytd', 'prior']

# repeat the same steps for the citywide data
# pivot
sf_citywide_ytd = citywide_ytd.pivot_table(index=['district', 'category'], columns='time_period', values='count', aggfunc='sum')
# rename the columns of this dataframe to district, category, ytd, and prior
sf_citywide_ytd.columns = ['ytd', 'prior']

# concatenate the sfcrime_ytd and sf_citywide_ytd dataframes
sfcrime_ytd = pd.concat([sfcrime_ytd, sf_citywide_ytd])

# reset the index of the dataframe
sfcrime_ytd = sfcrime_ytd.reset_index()

# add a column called asofdate and set the value to the asofdate variable we created earlier
sfcrime_ytd['asofdate'] = asofdate

# replace any NaN values with 0
sfcrime_ytd = sfcrime_ytd.fillna(0)

# output as a csv for backup and remove the index
sfcrime_ytd.to_csv('data/source/recent/sfcrime_ytd.csv', index=False)

# take a look at the data
sfcrime_ytd

     district                     category    ytd  prior   asofdate
0     Bayview                        ARSON     28     31  10/1/2023
1     Bayview                      ASSAULT    226    297  10/1/2023
2     Bayview                     BURGLARY    307    427  10/1/2023
3     Bayview                     HOMICIDE      9     11  10/1/2023
4     Bayview  HUMAN TRAFFICKING – SEX ACT      0      1  10/1/2023
..        ...                          ...    ...    ...        ...
96   Citywide  HUMAN TRAFFICKING – SEX ACT     14     14  10/1/2023
97   Citywide                LARCENY THEFT  24455  26542  10/1/2023
98   Citywide          MOTOR VEHICLE THEFT   5166   4690  10/1/2023
99   Citywide                         RAPE    171    202  10/1/2023
100  Citywide                      ROBBERY   2092   1810  10/1/2023

[101 rows x 5 columns]